@if (showAdminBanner()) {
  <app-maintenance-banner />
}
@if (showTestBanner()) {
  <div class="test-mode-banner" role="status" data-testid="test-mode-banner">
    {{ 'shell.testModeBanner' | translate }}
  </div>
}
<app-impersonation-banner />
<app-header />
<main class="site-main">
  <router-outlet />
</main>
<app-footer />
<app-toast-container />
@if (showMaintenancePage()) {
  <app-maintenance-page [message]="maintMessage()" />
}
@if (booting()) {
  <app-loading [fullscreen]="true" [label]="'common.loading' | translate" data-testid="hydration-loader" />
}
@if (globalLoading()) {
  <app-loading [fullscreen]="true" [dim]="true" [label]="'common.loading' | translate" data-testid="global-loader" />
}
